.side {
    margin-top: 10px;
    padding: 0;
}

.side .tip {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
}

.side ul {
    list-style: none;
    padding-left: 20px;
}

.side li {
    line-height: 35px;
}

.daily-list {
    margin: 10px 0px;
    padding: 0px;
    border: solid 1px #ccc;
}

.daily-list .sum {
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.daily-list .detail-list {
    margin: 0px;
    padding: 0px;
}

.daily-list .detail-list .detail {
    margin: 0px;
    padding: 0px;
}

.daily-list .detail-list .icon {
    padding: 0px 10px;
    text-align: center;
}

.daily-list .detail-list .description {
    padding: 0px 10px;
}

.daily-list .detail-list .description .class {
    padding: 0px 10px;
    font-size: 20px;
}

.daily-list .detail-list .description .info {
    padding: 0px 10px;
    font-size: 16px;
}

.daily-list .detail-list .description .tag {
    padding: 0px 10px;
    font-size: 14px;
}

.daily-list .detail-list .amount {
    margin: 0px;
    display: flex;
    /* ★ */
    align-items: center;
    /* ★ */
    padding: 0px 10px;
    font-size: 25px;
}