{% extends "login-base.html" %}
{% load static %}
{% block title %}登入會員｜RichMan{% endblock %}
{% block link_file %}
{{ block.super }}
{% endblock %}
{% block form_body %}
<form action="{% url 'login' %}" method="post" id="login-form">
    {% csrf_token %}
    <tr style="height:60px">
        <td width="30%" class="section-input">會員帳號</td>
        <td width="70%" class="section-input">{{form.account}}
            <span class="errMsg" id="acc-errMsg"></span>
        </td>
    </tr>
    <tr style="height:60px">
        <td width="30%" class="section-input">會員密碼</td>
        <td width="70%" class="section-input">{{form.password}}
            <span class="errMsg" id="pwd-errMsg"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="section-input text-center">
            <button type="submit" class="btn btn-outline-secondary" style="width: 130px; height: 50px;">
                登入
            </button>
        </td>
    </tr>
</form>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}