{% extends "base.html" %}
{% load static %}
{% block link_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{{ block.super }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12 col-sm-6 container section justify-content-center align-items-center" style="padding: 0px">
        <nav class="navbar navbar-expand navbar-light" id="sign-nav">
            <div class="collapse navbar-collapse">
                <table class="navbar-nav">
                    <tr>
                        <td style="border-right: 1px solid; width: 50%;" class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">
                                <span>會員登入</span>
                                <span>Sign in</span>
                            </a>
                        </td>
                        <td style=" width: 50%;" class="nav-item">
                            <a href="{% url 'registration' %}" class="nav-link">
                                <span>會員註冊</span>
                                <span>Register</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </nav>
        <div class="container section justify-content-center align-items-center" style="padding: 0px">
            <table style="margin-top: 40px;" id="input-table">
                {% block form_body %}
                {% endblock %}
            </table>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block js_script %}
<script>
    $(function () {
        var url = window.location.pathname;
        var selector = 'a[href="' + url + '"]';

        // Remove active class from all nav links
        $('#sign-nav .navbar-nav .nav-item').removeClass('active');

        // Add active class to the current nav link
        $(selector).parents('#sign-nav .nav-item').addClass('active');
    })
</script>
{% endblock %}