{% extends "base.html" %}
{% load static %}
{% block body %}
<style>
    .section {
        height: 60vh;
    }

    .section-input {
        margin-bottom: 20px;
    }

    td {
        font-size: 18px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    .signNav td {
        text-align: center;
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="container section justify-content-center align-items-center" style="padding: 0px">
        <table class="signNav" width="20%">
            <tr>
                <td style="border-right: 1px solid; color: lightgray;">會員登入</td>
                <td>會員註冊</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid; color: lightgray;">Sign in</td>
                <td>Register</td>
            </tr>
        </table>
        <table width="30%" style="margin-top: 40px;">
            <form action="/accounting/login/" method="post">
                {% csrf_token %}
                <tr style="height:60px">
                    <td width="30%" class="section-input">會員帳號</td>
                    <td width="70%" class="section-input">{{form.account}}</td>
                </tr>
                <tr style="height:60px">
                    <td width="30%" class="section-input">會員密碼</td>
                    <td width="70%" class="section-input">{{form.password}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="section-input text-center">
                        <button type="submit" class="btn btn-outline-secondary" style="width: 130px; height: 50px;">
                            登入
                        </button>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
{% endblock %}